* {
  margin: 0px;
  padding: 0px;
  outline: none;
}

body {
  height: 100vh;
  background: rgb(60, 53, 53);
  background: linear-gradient(
    36deg,
    rgba(60, 53, 53, 1) 0%,
    rgba(148, 94, 23, 1) 100%
  );
}

h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

button.addBook-btn {
  width: auto;
  margin: 10px;
  padding: 5px;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 204, 102, 1);
  color: white;
}

button.addBook-btn:hover {
  cursor: pointer;
  background-color: rgb(255, 204, 102, 0.9);
}

button.addBook-btn:active {
  background-color: rgb(255, 204, 102, 1);
}

#book-info {
  position: relative;
  width: fit-content;
  margin: 10px;
  font-size: 25px;
  border: 2px solid orange;
  color: white;
}

input {
  display: block;
  width: 500px;
  height: 25px;
  margin: 5px;
  border-radius: 5px;
}

::placeholder {
  color: rgb(252, 3, 19, 0.9);
  padding: 5px;
}

::placeholder:focus {
  color: blue;
}

button {
  margin: 5px;
  padding: 15px;
  width: 150px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  background-color: #9999ff;
  border: none;
  border-radius: 5px;
  color: white;
}

button:hover {
  background-color: rgb(153, 153, 255, 0.9);
  cursor: pointer;
}

button:active {
  background-color: rgb(153, 153, 255);
}

#book {
  border: 2px solid orange;
  color: white;
  margin: 10px;
  width: 160px;
  height: 200px;
}

/* The switch - the box around the slider */
#switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
#switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
