* {
  margin: 0px;
  padding: 0px;
  outline: none;
}

body {
  height: 100vh;
  background: rgb(60, 53, 53);
  background: linear-gradient(
    36deg,
    rgba(60, 53, 53, 1) 0%,
    rgba(148, 94, 23, 1) 100%
  );
}

h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

button.addBook-btn {
  display: block;
  width: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 204, 102, 1);
  color: white;
}

button.addBook-btn:hover {
  cursor: pointer;
  background-color: rgb(255, 204, 102, 0.9);
}

button.addBook-btn:active {
  background-color: rgb(255, 204, 102, 1);
}

button.cancelBook-btn {
  background-color: rgb(242, 66, 66);
  float: right;
}

button.cancelBook-btn:hover {
  background-color: rgba(242, 66, 66, 0.561);
}

button.cancelBook-btn:active {
  background-color: rgb(242, 66, 66, 1);
}

#book-info {
  position: relative;
  width: fit-content;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  border: 2px solid orange;
  color: white;
}

input {
  width: 500px;
  height: 25px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 5px;
}

input.readCheckbox {
  display: unset;
  width: 25px;
  height: 25px;
  margin-left: 25px;
}

.readText {
  color: white;
  font-size: 25px;
  margin-left: 180px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

::placeholder {
  color: rgb(252, 3, 19, 0.9);
}

::placeholder:focus {
  color: blue;
}

button {
  margin: 5px;
  padding: 15px;
  width: 150px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  background-color: #9999ff;
  border: none;
  border-radius: 5px;
  color: white;
}

button:hover {
  background-color: rgb(153, 153, 255, 0.8);
  cursor: pointer;
}

button:active {
  background-color: rgb(153, 153, 255);
}

.title {
  margin-top: 10px;
  height: 20%;
  text-align: center;
  color: white;
  font-size: 30px;
}

.author {
  height: 10%;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 25px;
}

.pages {
  text-align: left;
  margin-top: 160px;
  margin-left: 20px;
  font-size: 20px;
  color: white;
}

#book-info-container {

  width: auto;
  height: auto;
}

#getBook { 
  height: auto;
}

.bookId {
  width: 300px;
  height: 350px;
  border: 2px dotted yellow ;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.book {
  display: flex;
  flex-wrap: wrap;
}

#book {
  border: 2px solid orange;
  color: white;
  margin: 10px;
  width: 160px;
  height: 200px;
}